
#tiny-tour-box {
    max-width: 95%;
    height: auto;
    background-color: white;
    -webkit-box-shadow: rgb(33 33 33 / 80%) 0px 0px 1px 2px,rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            box-shadow: rgb(33 33 33 / 80%) 0px 0px 1px 2px,rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    width: 250px;
    border-color:black;
    position: absolute;
    z-index: 99999 !important;
   
 
}

#tiny-tour-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex ;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    margin-top: 0.5rem;
    padding: 0.5rem ;
    word-break: break-word;

}
.tiny-tour-buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.tiny-tour-prev{
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    background-color: #fff;
    border: 1px solid #d5d9d9;
}

.tiny-tour-prev:hover {
    background-color: #f7fafa;
    cursor: pointer;
  }
  
.tiny-tour-prev:focus {
    border-color: #000000;
    background-color: #f7fafa;
    outline: 0;
}

.tiny-tour-next{
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    background-color: #fff;
    border: 1px solid #d5d9d9;
}

.tiny-tour-next:hover {
    background-color: #f7fafa;
    cursor: pointer;
  }
  
.tiny-tour-next:focus {
    border-color: #000000;
    background-color: #f7fafa;
    outline: 0;
}

#tiny-tour-close{
    position: absolute;
    border: none;
    top: 0.2rem;
    right: 0.2rem;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    background-size:cover;
    background-image: url("data:image/svg+xml,%3Csvg viewPort='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='11' x2='11' y2='1' stroke='black' stroke-width='2'/%3E%3Cline x1='1' y1='1' x2='11' y2='11' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

#tiny-tour-close:hover{
    -webkit-filter: invert(64%) sepia(5%) saturate(142%) hue-rotate(22deg) brightness(90%) contrast(84%);
            filter: invert(64%) sepia(5%) saturate(142%) hue-rotate(22deg) brightness(90%) contrast(84%);
      cursor: pointer;

}

#tiny-tour-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex ;
    padding: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    word-break: break-word;
}

.tiny-tour-target{
    position: relative;
    -webkit-box-shadow: rgb(33 33 33 / 80%) 0px 0px 1px 2px, rgb(33 33 33 / 50%) 0px 0px 0px 5000px;
            box-shadow: rgb(33 33 33 / 80%) 0px 0px 1px 2px, rgb(33 33 33 / 50%) 0px 0px 0px 5000px;
    z-index: 99998 !important; 
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}